<body style="overflow: hidden;">
<%# <input class="menu-icon" type="checkbox" id="menu-icon" name="menu-icon"/>
<label for="menu-icon"></label> %>
  	<nav class="nav"> 		
  		<ul class="pt-5">
  			<li><a href="/">Home</a></li>
  			<li><a href="/services">Services</a></li>
  			<li><a href="/aboutus">About us</a></li>
  			<li><a href="/contact">Contact</a></li>
  		</ul>
  	</nav>


		<div class="pagebutton">
<a href="/contact" class="hbtn hb-fill-right">Contact us</a>
        </div>


<div class="team-grid">
        <div class="container">
        <div class="newh1">
        <h1 class="h1trans">Choose your service :</h1>
        </div>
            <div class="intro">
            </div>
            <div class="row2 people">
                <div class="col-md-4 col-lg-2 item">
                    <div class="box" style="background-image:url('https://res.cloudinary.com/dn6wh4u2h/image/upload/v1632147857/Group_2_vgc2oe.jpg')">
                        <div class="cover">
                           <a href="/festivals"> <h3 class="name">Secured Festivals</h3></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-2 item">
                    <div class="box" style="background-image:url('https://res.cloudinary.com/dn6wh4u2h/image/upload/v1632147495/Group_5_bx58kh.jpg')">
                        <div class="cover">
                            <a href="/concerts"><h3 class="name">Secured Concerts</h3></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-2 item">
                    <div class="box" style="background-image:url('https://res.cloudinary.com/dn6wh4u2h/image/upload/v1632147469/Group_3_h8696x.jpg')">
                        <div class="cover">
                            <a href="/soccer"><h3 class="name">Secured Soccer</h3></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-2 item">
                    <div class="box" style="background-image:url('https://res.cloudinary.com/dn6wh4u2h/image/upload/v1632147809/Group_6_euohea.jpg')">
                        <div class="cover">
                            <a href="/privatevent"><h3 class="name">Secured Private Events</h3></a>
                        </div>
                    </div>
                </div>
				<div class="col-md-4 col-lg-2 item">
                    <div class="box" style="background-image:url('https://res.cloudinary.com/dn6wh4u2h/image/upload/v1632147478/Group_4_v1oczs.jpg')">
                        <div class="cover">
                            <a href="/vip"><h3 class="name">Secured V.I.P Escort</h3></a>
                        </div>
                    </div>
                </div>
				<div class="col-md-4 col-lg-2 item">
                    <div class="box" style="background-image:url('https://res.cloudinary.com/dn6wh4u2h/image/upload/v1632147834/Group_1_yankze.jpg')">
                        <div class="cover">
                            <a href="/hostesservice"><h3 class="name">Hostess Service</h3></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>