<body class="servicepage", style="background: rgb(29, 30, 34);">
<div class="newcontentservice">
<div class="whatdoyouneed">
<h1>WHAT DO YOU WANT TO PROTECT?</h1>
</div>

<div class="container28">
  <div class="row4">
    <div class="col-sm-2">
<div class="promo2" style="--overlay-color: hotpink">
<a href="/concerts"><div class="image-wrapper2"><img class="newimgclass" src="https://images.unsplash.com/photo-1516450360452-9312f5e86fc7?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=800&amp;fit=max&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&"/></div></a>
 <h2 class="title2" data-cta="Get out there →">Concerts</h2>
</div>
    <div class="col-sm-2">
<div class="promo2" style="--overlay-color: yellow">
  <a href="/festivals"><div class="image-wrapper2"><img class="newimgclass" src="https://images.unsplash.com/photo-1533174072545-7a4b6ad7a6c3?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=800&amp;fit=max&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&"/></div></a>
  <h2 class="title2" data-cta="Get Service →">Festivals</h2>
</div>
    <div class="col-sm-2">
<div class="promo2" style="--overlay-color: dodgerblue">
  <a href="/soccer"><div class="image-wrapper2"><img class="newimgclass" src="https://images.unsplash.com/photo-1430232324554-8f4aebd06683?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=800&amp;fit=max&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&"/></div></a>
  <h2 class="title2" data-cta="Get Service →">Soccer Games</h2>
</div>
    <div class="col-sm-2">
<div class="promo2" style="--overlay-color: darkgreen">
  <a href="/privatevent"><div class="image-wrapper2"><img class="newimgclass" src="https://images.unsplash.com/photo-1464366400600-7168b8af9bc3?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=800&amp;fit=max&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&"/></div></a>
  <h2 class="title2" data-cta="Get Service →">Events</h2>
</div>
    <div class="col-sm-2">
<div class="promo2" style="--overlay-color: darkred">
  <a href="/hostesservice"><div class="image-wrapper2"><img class="newimgclass" src="https://images.unsplash.com/photo-1512061942530-e6a4e9a5cf27?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=800&amp;fit=max&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&"/></div></a>
  <h2 class="title2" data-cta="Get Service →">Hostess Services</h2>
</div>
    <div class="col-sm-2">
<div class="promo2" style="--overlay-color: darkblue">
  <a href="/vip"><div class="image-wrapper2"><img class="newimgclass" src="https://images.unsplash.com/photo-1494194069000-cb794f31d82c?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=800&amp;fit=max&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&"/></div></a>
  <h2 class="title2" data-cta="Get Service →">V.I.P. Escort</h2>
</div>
</div>

</body>
