<!DOCTYPE html>
<html>
  <head>
    <title>GlobalProtect</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" >
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   
  </head>

  <body>
    <%= yield %>
  </body>
</html>
